.btn {
  border-radius: 2px;
}

.nav-links a {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-info;
  margin-right: .5rem;
  margin-left: .5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2rem;
}

.nav-links .nav-previous {
  order: 2;
}

// .nav-links .nav-previous a::after {
//   content: "&#xe092;";
//   font-family: "glyphicons";
// }
