.modal {
  @include fadeInDown(1, 0.5s);
  .modal-dialog {
    background: url("../images/modal-bg.png");
    background-color: $white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 4px;
    box-shadow: 0px 2px 2px $transp-black;
  }
  .modal-content {
    padding: 20px;
    border-color: transparent;
    background-color: transparent;
    h1, h2, h3, h4, h5, h6 {
      @include subheadline-font;
      line-height: 1.1;
      margin-bottom: 1.5rem;
    }

    @include breakpoint($sm) { padding: 40px; }
    @include breakpoint($md) { padding: 50px; }
  }
  .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: none;
  }


}

.modal-backdrop.in {
  background-color: $brand-primary;
  opacity: .9
}
