footer
  background-color: $brand-primary
  section
    margin-bottom: 0px
    padding: 1rem
  section[class*="pages"], section.widget
    text-align: center
    h3
      display: none
    ul li
      list-style-type: none
      display: inline-block
      margin: 1rem
    ul li a
      color: $white
      opacity: .2
      cursor: pointer
      &:hover
        opacity: 1
        color: $brand-warning
        transition: all .25s
    ul
      margin-bottom: 0px
    p
      color: $white
      opacity: .2
